Build
Generated
.vscode/
/Application/.vs/Application/CopilotIndices/17.13.441.19478
/Application/.vs/Application/FileContentIndex
/Application/.vs/Application/v17/ipch/AutoPCH
/Application/.vs/Application/v17
