[submodule "External/GoogleTest"]
	path = External/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "External/RayLib"]
	path = External/RayLib
	url = https://github.com/raysan5/raylib.git
[submodule "External/LuaJIT"]
	path = External/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
